@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
body {
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333;
    transition: all .3s linear;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 105px;
    padding: 0 60px;
    background-image: linear-gradient(to bottom, rgb(51, 51, 51) 0%, rgb(102, 102, 102) 100%);
    color: #ffffff;
    z-index: 111;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 57px;
    width: 249px;
}
.header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.menu__nav {
    display: block;
    width: 100%;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__item {
    padding: 6px 12px;
    list-style-type: none;
}
.menu__item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
}
.header__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo__text {
    padding-left: 40px;
}
.logo__text p {
    margin-bottom: 0;
}
.menu__address {
    font-size: 13px;
    color: rgb(212, 212, 212)
}
.header__number {
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(242, 242, 242);
}
.header__number:hover {
    text-decoration: none;
    background-color: rgb(242, 242, 242);
    border-color: rgb(213, 43, 43);
    color: rgb(201, 64, 64);
}
.btn {
    background-color: rgb(201, 64, 64);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-style: solid;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: rgb(224, 97, 97);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(242, 242, 242);
    margin-top: 16px;
}

/* END:HEADER */

main {
    padding-top: 105px;
    min-height: 100vh;
    background-image: url(../images/main-bg.png);
    background-position: center center;
    background-size: auto;
    background-repeat: repeat;
    color: #FFF;
}

/* BANNER */
.banner {
    position: relative;
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    background-image: url(../images/bg.jpg);
    padding: 60px 0 100px 0;
}
.banner__row {
    justify-content: center;
}
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.48);
}
/* DOOR */
.door {
    position: relative;
    height: 550px;
}
.door__wrap {
    position: absolute;
    color: #FFF;
    border-width: 9px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    max-width: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-400%);
    transition: all .6s ease;
    transition: 'opacity' 1s ease;
    opacity: 0;
}
.door__wrap p {
    text-align: center; 
    letter-spacing: 0.7em;
    margin: 0;
    transform: translateY(-200%);
}
.door__main {
    position: absolute;
    top: 12px;
    left: 28px;
    color: #FFF;
    border-width: 13px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    margin: 8px;
    height: calc(100% - 42px);
    width: calc(100% - 42px);
    max-width: 246px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-400%);
    transition: all .7s ease-out;
    opacity: 0;
}
.door__wrap.active,
.door__main.active {
    transform: translateX(0);
    opacity: 1;
}
/* END:DOOR */
.banner__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner__info > p {
    position: relative;
    width: 100%;
    display: block;
    padding-bottom: 0.7rem;
}
.banner__info > p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}
.banner__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner__item {
    width: 50%;
    display: flex;
    align-items: center;
}
.banner__item p {
    margin-bottom: 0;
    padding-left: 12px;
}
.banner__item .svgicon {
    width: 42px;
    height: 40px;
}
.banner__item .svgicon path {
    fill: #ffffff;
} 
.banner__link {
    display: block;
    max-width: 240px;
    margin: 0 auto;
}
.banner__link .btn {
    min-height: 66px;
}
.btn:hover {
    background-color: rgb(242, 242, 242);
    border-color: rgb(213, 43, 43);
    color: rgb(201, 64, 64);
}
/* END:BANNER */

/* PLUS */
.plus {
    padding-top: 60px;
    padding-bottom: 60px;
}
.plus h3 {
    margin-bottom: 55px;
}
.plus img {
    display: block;
    margin: 0 auto;
    max-height: 105px;
    max-width: 110px;
}
.plus__item {
    display: flex;
    align-items: center;
}
.plus .row {
    height: 100%;
}
.plus p {
    margin-bottom: 0;
}
.plus__img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus__item-wrap {
    margin-bottom: 50px;
}
/* END:PLUS */

/* CATALOG */
.catalog {
    padding-top: 87px;
    padding-bottom: 60px;
}
.catalog__text {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(162, 162, 162);
    color: rgb(0, 0, 0);
    font-size: 40px;
    width: fit-content;
    margin: 0 auto;
}
.catalog__slider-wrap {
    padding: 70px 0 10px 0;
}
.swiper-container {
    width: 100%;
    height: auto;
}
.slide__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.slide__item img {
    min-height: 480px;
    margin-bottom: 20px;
}
.swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    padding: 2px;
    transition: background-color 0.3s;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    z-index: 250;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgb(212, 212, 212);
}
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0;
}
.swiper-wrapper {
    padding-bottom: 40px;
}
.swiper-button-prev, .swiper-button-next {
    background-image: none;
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    border-radius: 100%;
    background-color: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    opacity: 0.8;
    transition: all 250ms;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-button-next {
    left: auto;
    right: 0;
}
.catalog-btn {
    height: 60px;
    width: 375px;
    margin: 0 auto;
    display: block;
}
.catalog-btn:hover {
    background-color: rgb(213, 43, 43);
    border-color: rgb(224, 97, 97);
    color: rgb(244, 217, 217);
}
/* END:CATALOG */

/* TABS */
.tabs-section {
    padding-top: 60px;
    padding-bottom: 90px;
    background-color: #ffffff;
}
.tabs__head-img {
    display: block;
    margin: 0 auto;
}
.tabs__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 60px 0;
}
.tabs__control {
    position: relative;
    padding: 0 2px 10px;
    color: rgba(51, 51, 51, 0.6);
    margin: 0 36px;
    font-size: 14px;
}
.tabs__control p {
    margin: 0;
}
.tabs__control.active {
    color: rgb(51, 51, 51);
}
.tabs__control::before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: rgba(128, 128, 128, 0);
    transition: all 0.3s;
}
.tabs__control.active::before {
    background-color: rgb(212, 212, 212);
}
.tab__container {
    position: absolute;
    opacity: 0;
    height: 654px;
    transition: .2s ease-in;
}
.tab__container.active {
    position: relative;
    opacity: 1;
    z-index: 3;
}
.tab__container img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}
.tab__container_item {
    position: relative;
    padding: 5px;
    height: fit-content;
    border-radius: 6px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}
.content-max-width img {
    width: 100%;
    height: auto;
}
.item__hover-block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
    height: 0;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
}
.tab__container_item:hover .item__hover-block {
    height: calc(100% - 10px);
    background-color: rgb(212, 212, 212);
    transition: .3s ease-in;
}
.item__hover-block h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.item__hover-block span {
    color: #000000;
}
.tab__container > .row > .tab__container_item {
    height: 654px;
}
.tab__container .sub__row {
    height: 327px;
}
/* END:TABS */

/* SERVICE */
.service {
    padding: 60px 0;
}
.service h3 {
    position: relative;
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 40px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}
.service h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 53%;
    height: 1px;
    background-color: rgb(162, 162, 162);
    border-radius: 0px;
}
.service__item {
    text-align: center;
}
/* END:SERVICE */

/* PROFESSIONAL */
.professional {
    padding-top: 87px;
    padding-bottom: 60px;
    background-color: white;
}
.professional h3 {
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 40px;
    margin-bottom: 80px;
}
.professional__item {
    text-align: center;
}
.professional__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}
.professional__img img {
    object-fit: cover;
    width: 200px;
}
/* END:PROFESSIONAL */

/* ABOUT */
.about {
    padding-top: 87px;
    padding-bottom: 60px;
    background-color: white;
}
.about h3 {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: rgb(85, 85, 85);
    padding-bottom: 20px;
    margin-bottom: 80px;
}
.about h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 80%;
    background-color: #000;
}
.about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.about__item img {
    width: 90px;
    margin-bottom: 10px;
}
.about__item p {
    text-align: center; line-height: 1.2; color: rgb(85, 85, 85);
}
/* END:ABOUT */

/* FEDDBACK */
.feedback {
    position: relative;
    padding-top: 87px;
    padding-bottom: 60px;
    background-image: url('../images/feedback-bg.jpg');
    padding-top: 60px;
    padding-bottom: 90px;
}
.feedback::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.86);
    display: block;
    z-index: 0;
}
.feedback h2 {
    position: relative;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 90px;
}
.feedback .container {
    position: relative;
}
.feedback h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 80%;
    background-color: #ffffff;
}
.feedback__item img {
    width: 100%;
    height: auto;
    max-height: 196px;
    object-fit: cover;
    border-radius: 10px;
}
.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
}
.video-button i {
    position: relative;
    left: 3px;
}
/* END:FEDDBACK */

/* HOW */
.how-buy {
    position: relative;
    padding-top: 60px;
    padding-bottom: 90px;
    background-image: url("../images/buy-bg.jpg");
}
.how-buy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.76);
}
.how-buy h3 {
    position: relative;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}
.how-buy h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 80%;
    background-color: #ffffff;
}
.how-buy__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
.how-buy__item_img {
    width: 178px;
    height: auto;
    margin-bottom: 10px;
}
.buy-btn {
    margin: 0 auto;
    margin-top: 60px;
    z-index: 2;
    height: 65px;
    font-size: 18px;
    border-radius: 10px;
}
/* END:HOW */

/* CONTACTS */
.contacts {
    padding-top: 46px;
    padding-bottom: 53px;
    background-color: rgb(213, 43, 43);
    color: #FFF;
}
.contacts h2 {
    position: relative;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 90px;
}
.contacts h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 80%;
    background-color: #ffffff;
}
.contacts h2 {
    font-size: 48px; text-align: center;
}
.feedback__arrow {
    text-align: right;
}
.contacts__head {
    text-align: center;
    padding: 0 0 30px 0;
}
.contacts__text {
    padding-top: 0;
}
.btn.submit {
    width: 100%;
    height: 60px;
    background-color: rgb(212, 212, 212);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-style: solid;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: rgb(229, 229, 229);
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.btn.submit:hover {
    color: #ffffff;
}
.field:not(:last-child) {
    margin-bottom: 15px;
}
/* END:CONTACTS */

/* STOCKS */
.stocks {
    position: relative;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 95px;
}
.stocks h2 {
    text-align: center; font-size: 40px; color: rgb(0, 0, 0);
    font-weight: 600;
    margin-bottom: 40px;
}
/* END:STOCKS */

/* FOOTER */
footer::before {
    content : "";
    position : absolute;
    top : 0;
    left : 0;
    height : 100%;
    width : 100%;
    background-color : rgb(0, 0, 0, 0.8);
}
.footer {
    position : relative;
    padding : 43px 60px 54px 60px;
    background-image : url("../images/footer-bg.jpg");
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
.footer div {
    position: relative;
}
.footer a {
    color: #ffffff;
}
.footer-btn {
    margin-top: 0;
}
.btn-up {
    position: fixed;
    z-index: 9999;
    right: 3%;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    opacity: .3;
    padding: 5px 15px;
    bottom: 15px;
    text-decoration: none;
}
.btn-up:hover {
    opacity: 1;
    color: #ffffff;
    text-decoration: none;
}
/* END:FOOTER */

/* modals */
.popup-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    min-width: 200px;
    min-height: 100px;
    overflow: hidden;
}
body.modal-active {
    overflow: hidden;
}
body.modal-active .popup-bg, 
body.modal-active .popup {
    display: block;
    z-index: 112;
}
.popup__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 17.5px;
    background-color: #fff;
    color: #141414;
    font-size: 30px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.popup__close-btn:hover {
    background-color: rgb(212, 212, 212);
}
/* END:modals */